<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    <div class="card-title text-capitalize">{{type}} Product</div>
  </h4>
  <button type="button" class="btn-close" aria-describedby="modal-title" (click)="close.emit()"></button>
</div>
<fieldset [disabled]="type==='view'">
  <form [formGroup]="form" appFormValidation (ngSubmit)="submit()">
    <div class="modal-body">
      <div class="d-flex flex-row flex-wrap justify-content-between gap-2">
        <div class="w-100">
          <label for="brand" class="form-label required">Brand</label>
          <select class="form-select" id="brand" formControlName="brand">
            <option selected disabled value="">Choose...</option>
            @for (brand of brands; track $index) {
            <option [value]="brand._id">{{brand.brand_name}}</option>
            }
          </select>
        </div>

        <div class="w-100">
          <label for="product_name" class="form-label required">Product name</label>
          <input type="text" class="form-control" id="product_name" formControlName="product_name" />
        </div>

        <div class="w-100">
          <label for="unit_of_measure" class="form-label required">Unit Of Measure</label>
          <select class="form-select" id="unit_of_measure" formControlName="unit_of_measure">
            <option selected disabled value="">Choose...</option>
            @for (uom of uoms; track $index) {
            <option [value]="uom">{{uom}}</option>
            }
          </select>
        </div>

        <div class="w-100">
          <label for="barcode" class="form-label required">Barcode</label>
          <input type="text" class="form-control" id="barcode" formControlName="barcode" />
        </div>

        <div class="w-100">
          <label for="product_description" class="form-label required">Description</label>
          <input type="text" class="form-control" id="product_description" formControlName="product_description" />
        </div>
      </div>
    </div>
    @if (type!=='view') {
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" (click)="close.emit()">Cancel</button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    }
  </form>
</fieldset>