.spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.spinner-border {
    width: 5rem !important;
    height: 5rem !important;
    border-width: 0.5rem;
    border-color: white;
    border-right-color: transparent;
}