<div class="mb-4 p-4 border rounded">
    @if(useSearch || useDownloadButton || filterSelect || useFilterByDate || useCustomToolbar) {
    <div class="d-flex flex-row justify-content-between flex-wrap gap-2 mb-4">
        <div [ngClass]="useSearch ? 'col-md-7' : 'col-md-12'">
            <div class="d-flex flex-row align-items-center justify-content-start flex-wrap gap-4">
                @if (filterSelect) {
                <div class="flex-1">
                    <app-select-filter [filterSelect]="filterSelect" (OnChangeFilter)="filterSelectChange($event)"></app-select-filter>
                </div>
                }

                @if (useFilterByDate) {
                <div class="flex-1">
                    <app-date-range-filter [defaultVal]="filterByDateDefaultValue"
                        (OnDateChange)="filterByDateChanged($event)"></app-date-range-filter>
                </div>
                }

                @if (useDownloadButton) {
                <div class="flex-1">
                    <button type="button" (click)="downloadButtonClicked()"
                        class="btn btn btn-outline btn-outline-solid text-primary d-flex flex-row align-items-center justify-content-center gap-2 px-2 py-1">
                        Download
                        <i class="fa-solid fa-download text-primary"></i>
                    </button>
                </div>
                }

                @if (useCustomToolbar) {
                <div class="flex-1">
                    <ng-content select="[CustomToolbar]"></ng-content>
                </div>
                }
            </div>
        </div>

        @if (useSearch) {
        <div class="col-md-4">
            <div class="input-group col-4">
                <input type="text" class="form-control" placeholder="{{ (searchPlaceholder || 'Search') }}"
                    [(ngModel)]="search" (input)="onSearch()" />
                <span class="input-group-text py-1 px-2" id="basic-addon2">
                    <i class="fa-solid fa-magnifying-glass text-white fa-3xs"></i>
                </span>
            </div>
        </div>
        }
    </div>
    }

    <div class="table-responsive scrollShadow py-2">
        <table class="table table-row-bordered mb-0" aria-describedby="Generic Table">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 text-uppercase">
                    <ng-container headTH>
                        <th style="width: 3ch;">#</th>

                        @if (useCheckbox) {
                        <th>
                            <div class="d-flex flex-row ailgn-items center">
                                <input class="form-check-input pointer" type="checkbox"
                                    [disabled]="!data || !data.length"
                                    [checked]="(!data || !data.length) ? false : isCheckedAll()"
                                    (click)="onCheckedAll($event)">
                            </div>
                        </th>
                        }

                        @for (column of columns; track $index) {
                        <th [class.pointer]="column.sort" [ngStyle]="generateInlineStyle(column)"
                            (click)="column.sort && total > 0 ? sortChanged(column.id) : $event.stopPropagation()"
                            [ngClass]="'whitespace-nowrap ' + ' ' + column.extraHeaderClass">
                            <div class="d-flex gap-1">
                                @if(column.sort) {
                                <app-sort-icon [sortId]="column.id" [sortVal]="{sortBy, sortDir}"></app-sort-icon>
                                }
                                {{ column.label | dynamicPipe:
                                column.customHeaderPipe?.pipeType:column.customHeaderPipe?.pipeArgs ?? [] }}
                            </div>
                        </th>
                        }
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                @if (isLoading) {
                <!-- Show loading state -->
                @for (_ of [].constructor(size); track $index) {
                <tr>
                    @for (_ of [].constructor(columns.length+1); let i = $index; track $index) {
                    <td [ngStyle]="generateInlineStyle(columns[i])">
                        <div class="badge-loading"></div>
                    </td>
                    }
                </tr>
                }
                } @else {
                <!-- Check if there is or no data -->
                @if (!!data.length) {
                @for (row of data; let index = $index; track $index) {
                <tr>
                    <td style="width: 3ch;">{{index+1}}</td>

                    @if (useCheckbox) {
                    <td [ngStyle]="{'vertical-align': 'middle'}">
                        <div class="d-flex flex-row ailgn-items center">
                            <input class="form-check-input pointer" type="checkbox" [checked]="isChecked(row)"
                                (click)="onChecked(row)">
                        </div>
                    </td>
                    }

                    @for (column of columns; track $index) {
                    <td [ngStyle]="generateInlineStyle(column)" [ngClass]="{
                      'whitespace-nowrap': column.customElementId === 'action'
                    }">
                        @if (column.customElementId) {
                        <ng-container [ngTemplateOutlet]="columnTemplates[column.customElementId]"
                            [ngTemplateOutletContext]="{
                          $implicit: row,
                          value: transformValueIfNeeded(getRowDataValue(row, column.id), column)
                        }">
                        </ng-container>
                        } @else {
                        <!-- | dynamicPipe: (isDateColumn(column) ? datePipe : null): [getDateFormat(column)] -->
                        {{ ( transformValueIfNeeded(getRowDataValue(row, column.id), column) | dynamicPipe:
                        column.customPipe?.pipeType:column.customPipe?.pipeArgs ?? []) || "-" }}
                        }
                    </td>
                    }
                </tr>
                }
                <ng-content></ng-content>
                } @else {
                <tr>
                    <td [attr.colspan]="columns.length+1">
                        <div class="w-100 py-5 my-5 text-center">No Data</div>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
    </div>

    <!-- Add TableFooter component here -->
    @if (usePagination) {
    <div class="card-footer px-4 py-2">
        <app-pagination [size]="size" [page]="page" [totalData]="total"
            (paginationChanged)="changePage($event)"></app-pagination>
    </div>
    }
</div>