<div class="d-flex flex-column flex-md-row flex-center flex-md-stack gap-20px">
    <div class="pagination-size order-2 order-md-1 d-flex flex-sm-row flex-sm-stack gap-20px">
        <select class="form-select size-selector pointer" aria-label="Select Size" (change)="changeSize($event)">
            @for (size of sizeOptions; track $index) {
            <option [selected]="size === selectedSize">
                {{ size }}
            </option>
            }
        </select>
        <span class="entry-info">{{
            `${entryFrom} to ${entryTo} of ${totalData}`
            }}</span>
    </div>
    <div>
        <ngb-pagination [collectionSize]="totalPages" [(page)]="activePage" (pageChange)="changePage($event)"
            aria-label="Default pagination" />
    </div>
</div>