<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				{{filterSelect?.value?.label ?? filterSelect?.title ?? defaultTitle}}
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0">
				<button ngbDropdownItem class="bg-dark-subtle border-bottom border-dark-subtle" (click)="reset()">{{filterSelect?.title ?? defaultTitle}}</button>
				@for (option of filterSelect?.selectOptions; track $index) {
				<button ngbDropdownItem (click)="select(option)" [ngClass]="{'text-primary':filterSelect?.value?.value===option.value}">{{option.label}}</button>
				}
			</div>
		</div>
	</div>
</div>