<div class="dropbox pointer" [class.error]="error" [class.dragging]="isDragging" [class.pointer-events-none]="disabled"
  [class.disabled]="disabled" (click)="hiddenInput.click()" (dragover)="handleDragOver($event)"
  (dragenter)="isDragging=true" (dragleave)="handleDragMove($event)" (drop)="handleDrop($event)"
  onkeypress="hiddenInput.click()">
  <input [id]="elementId" #hiddenInput type="file" [accept]="filterFileInput()" (change)="handleFileInput($event)">
  <div class="dropbox-guide">
    @if (!fileName) {
    <span class="dropbox-guide-icon" [class.error]="error"
      inlineSVG="../../../../../assets/icons/Content/icon-upload.svg"></span>
    }
    @if (fileName) {
    <i class="fa-solid fa-file-circle-check text-40px text-fileupload-green"></i>
    }
    <div class="dropbox-guide-text">
      @if (!fileName) {
      <h3 class="m-0">DRAG_FILES_HERE</h3>
      }
      @if (fileName) {
      <h3 class="m-0 text-16px">DRAG_TO_CHANGE</h3>
      }
      @if (!fileName) {
      <p class="m-0">CLICK_TO_CHOOSE_FILE</p>
      }
      @if (fileName) {
      <p class="m-0 text-20px">{{fileName}}</p>
      }
    </div>
  </div>
</div>
@if (fileName && haveAction) {
<div class="d-flex flex-row align-items-center gap-2 mt-2">
  <button title="See Preview" (click)="previewClicked()" type="button"
    class="btn btn-sm btn-outline btn-outline-primary">Preview File</button>
  <button title="Delete" (click)="deleteClicked()" type="button"
    class="btn btn-sm btn-outline btn-outline-danger">Delete File</button>
</div>
}