:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.disabled {
  height: 100%;
  width: 100%;
  background-color: var(--neutralcolors-gray-04, #f5f5f5) !important;

  .dropbox-guide-icon,
  .dropbox-guide-text * {
    color: var(--bs-gray-500);
  }
}

input {
  visibility: invisible;
  height: 0 !important;
  width: 0 !important;
}

.dropbox {
  width: fit-content;
  min-width: 300px;
  max-width: 100%;
  height: 159px;
  min-height: 159px !important;
  border-radius: var(--border-radius-border-radius-01, 4px);
  border: 1px dashed var(--neutral-colors-gray-30, #bbbbbd);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  &.error {
    border: 1px dashed var(--utility-colors-negative, #b12a0b);
  }

  &.dragging {
    background-color: var(--neutral-colors-gray-30, #bbbbbd);
    cursor: pointer;
  }

  &-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-icon {
      font-size: xxx-large;
    }

    &-text {
      h3 {
        color: #000;
        text-align: center;
      }

      p {
        color: #000;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}